{% extends 'company/home-template.html' %}
{% load i18n %}

{# page title #}
{% block page_title %}{% trans 'Add Organization' %}{% endblock %}

{# this page nav-item activation #}
{% block home_navactive %}
    <li class="nav-item">{% endblock %}
{% block organ_navactive %}
    <li class="nav-item active dropdown">{% endblock %}

{# page content #}
{% block page_content %}

    {# page header #}
    <h1 class="h1 text-info">{% trans 'Add Your Organization : ' %}</h1>

    {# form : add organization #}
    <form class="mt-4 mb-3" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {# organization province #}
        <div class="form-group">
            <label for="province" class="text-info">{% trans 'Province : ' %}</label>
            <input id="province" name="province" class="form-control text-primary" type="text"
                   placeholder="Please Enter The Organization`s Province">
        </div>

        {# organization name #}
        <div class="form-group">
            <label for="organization_name" class="text-info">{% trans 'Name : ' %}</label>
            <input id="organization_name" name="organization_name" class="form-control text-primary" type="text"
                   placeholder="Please Enter The Organization Name">
        </div>

        {# organization telephone #}
        <div class="form-group">
            <label for="telephone" class="text-info">{% trans 'Telephone : ' %}</label>
            <input id="telephone" name="telephone" class="form-control text-primary" type="text"
                   placeholder="Please Enter The Organization Telephone">
        </div>

        {# organization workers quantity #}
        <div class="form-group">
            <label for="workers_qty" class="text-info">{% trans 'Workers Quantity : ' %}</label>
            <input id="workers_qty" name="workers_qty" class="form-control text-primary" type="number"
                   placeholder="Please Enter The Organization`s Workers Quantity">
        </div>

        {# organization Manufactured Products #}
        <div class="form-group">
            <label for="manufactured_product" class="text-info">{% trans 'Choose Manufactured Product : ' %}</label>
            <select multiple class="form-control" id="manufactured_product" name="manufactured_product">
                {% for product in ManufacturedProducts %}
                    <option value="{{ product.pk }}">{{ product }}</option>
                {% endfor %}
            </select>
        </div>

        {# organiztion Representative Fullname #}
        <div class="form-group">
            <label for="representative_full_name" class="text-info">{% trans 'Representative Fullname : ' %}</label>
            <input id="representative_full_name" name="representative_full_name" class="form-control text-primary"
                   type="text"
                   placeholder="Enter The Organization`s Representative Fullname">
        </div>

        {# organiztion Representative Phone Number #}
        <div class="form-group">
            <label for="representative_phone_number" class="text-info">{% trans 'Representative Phone Number : ' %}</label>
            <input id="representative_phone_number" name="representative_phone_number" class="form-control text-primary"
                   type="text"
                   placeholder="Enter The Organization`s Representative Phone Number">
        </div>

        {# organiztion Representative Email #}
        <div class="form-group">
            <label for="representative_email" class="text-info">{% trans 'Representative Email : ' %}</label>
            <input id="representative_email" name="representative_email" class="form-control text-primary"
                   type="email"
                   placeholder="Enter The Organization`s Representative Email">
        </div>

        {# form submit button #}
        <button  class="btn btn-info mb-3" type="submit">{% trans 'Add' %}</button>
    </form>

{% endblock %}
