{% extends 'company/home-template.html' %}
{% block page_title %}Add Organization{% endblock %}
{% block home_navactive %}
    <li class="nav-item">{% endblock %}
{% block organ_navactive %}
    <li class="nav-item active dropdown">{% endblock %}
{% block page_content %}
    <h1 class="h1 text-info">Add Your Organization : </h1>
    <form class="mt-4 mb-3" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="province" class="text-info">Province : </label>
            <input id="province" name="province" class="form-control text-primary" type="text"
                   placeholder="Please Enter The Organization`s Province">
        </div>
        <div class="form-group">
            <label for="organization_name" class="text-info">Name : </label>
            <input id="organization_name" name="organization_name" class="form-control text-primary" type="text"
                   placeholder="Please Enter The Organization Name">
        </div>
        <div class="form-group">
            <label for="telephone" class="text-info">Telephone : </label>
            <input id="telephone" name="telephone" class="form-control text-primary" type="text"
                   placeholder="Please Enter The Organization Telephone">
        </div>
        <div class="form-group">
            <label for="workers_qty" class="text-info">Workers Quantity : </label>
            <input id="workers_qty" name="workers_qty" class="form-control text-primary" type="number"
                   placeholder="Please Enter The Organization`s Workers Quantity">
        </div>
        <div class="form-group">
            <label for="manufactured_product" class="text-info">Choose Manufactured Product : </label>
            <select class="form-control" id="manufactured_product" name="manufactured_product">
                {% for product in ManufacturedProducts %}
                    <option>{{ product }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="representative_full_name" class="text-info">Representative Fullname : </label>
            <input id="representative_full_name" name="representative_full_name" class="form-control text-primary"
                   type="text"
                   placeholder="Enter The Organization`s Representative Fullname">
        </div>
        <div class="form-group">
            <label for="representative_phone_number" class="text-info">Representative Phone Number : </label>
            <input id="representative_phone_number" name="representative_phone_number" class="form-control text-primary"
                   type="text"
                   placeholder="Enter The Organization`s Representative Phone Number">
        </div>
        <div class="form-group">
            <label for="representative_email" class="text-info">Representative Email : </label>
            <input id="representative_email" name="representative_email" class="form-control text-primary"
                   type="email"
                   placeholder="Enter The Organization`s Representative Email">
        </div>
    </form>
    <button class="btn btn-info mb-3" type="submit">Add</button>


{% endblock %}