{% extends 'company/home-template.html' %}
{% load mytags %}
{% block page_title %}Organizations Detail{% endblock %}
{% block home_navactive %}
    <li class="nav-item">{% endblock %}
{% block organ_navactive %}
    <li class="nav-item active dropdown">{% endblock %}
{% block crm_desc %}{% endblock %}
{% block page_content %}
    {# headers #}
    <h1 class="h1 text-info">Organization Detail : <span
            class="text-dark bg-light">{{ object.organization_name }}</span></h1>
    {# buttons #}
    <div class="row mt-4 justify-content-center">
        <div class="col-md-auto">
            <a class="btn btn-secondary" href="{% url 'organization:organization-list' %}">Return to Previous Page</a>
        </div>
        <div class="col-md-auto">
            <a class="btn btn-secondary" href="#">Pro Forma Invoice Issuance</a>
        </div>
        <div class="col-md-auto">
            <a class="btn btn-secondary" href="#">Edit</a>
        </div>
    </div>
    {# detalis : first table #}
    <div class="row mt-4 justify-content-center">
        <table class="table table-dark table-bordered">
            <thead>
            <tr>
                <th scope="col">Province</th>
                <th scope="col">telephone</th>
                <th scope="col">Registered Date</th>
                <th scope="col">Workers Quantity</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="text-dark bg-light">{{ object.province }}</td>
                <td class="text-dark bg-light">{{ object.telephone }}</td>
                <td class="text-dark bg-light">{{ object.created_on|jdate:"%Y-%m-%d" }}</td>
                <td class="text-dark bg-light">{{ object.workers_qty }}</td>
            </tr>
            </tbody>
        </table>
    </div>
    {# detalis : second table #}
    <div class="row mt-4 justify-content-center">
        <table class="table table-dark table-bordered">
            <thead>
            <tr>
                <th scope="col">Registrar(expert)</th>
                <th scope="col">Manufactured Products</th>
                <th scope="col" class="bg-success">Our Company Offers</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="text-dark bg-light">{{ object.expert.username }}</td>
                <td class="text-dark bg-light">
                    {% for item in object.manufactured_product.values_list %}
                        <div class="row">
                            {{ forloop.counter }}-{{ item.1 }}
                        </div>
                    {% endfor %}
                </td>
                <td class="text-dark bg-light">####</td>
            </tr>
            </tbody>
        </table>
    </div>
    {# representative details #}
    <h3 class="h1 text-info">Representative Details:</h3>
    <div class="row mt-4 justify-content-center">
        <table class="table table-dark table-bordered">
            <thead>
            <tr>
                <th scope="col">Full Name</th>
                <th scope="col">Phone Number</th>
                <th scope="col">Email</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="text-dark bg-light">{{ object.representative_full_name }}</td>
                <td class="text-dark bg-light">{{ object.representative_phone_number }}</td>
                <td class="text-dark bg-light">{{ object.representative_email }}</td>
            </tr>
            </tbody>
        </table>
    </div>
    {# follow-up history #}
    <h3 class="h1 text-info">Follow-up History:</h3>
    <div class="row mt-4 justify-content-center">
        <table class="table table-dark table-bordered">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Expert</th>
                <th scope="col">Date</th>
                <th scope="col">Report</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="text-dark bg-light">##</td>
                <td class="text-dark bg-light">##</td>
                <td class="text-dark bg-light">##</td>
                <td class="text-dark bg-light">##</td>
            </tr>
            </tbody>
        </table>
    </div>


{% endblock %}







{##}
{##}
<div>
    <h3 class="h3 text-info">Manufactured Products : </h3>
    <span>&nbsp;&nbsp;&nbsp;</span>
    <h4 class="h4 text-dark bg-light">
        {% for item in  object.manufactured_product.values_list %}
            ({{ item.1 }})
        {% endfor %}
    </h4>
</div>


{#<div>#}
{#    <h3 class="h3 text-info ">Date Of Register : </h3>#}
{#    <span>&nbsp;&nbsp;&nbsp;</span>#}
{#    <h4 class="h4 text-dark bg-light">{{ object.created_on|jdate:"%Y-%m-%d" }}</h4>#}
{#</div>#}