{% extends 'company/home-template.html' %}
{% load widget_tweaks %}

{# page title #}
{% block page_title %}Add Quote{% endblock %}

{# this page nav-item activation #}
{% block home_navactive %}
    <li class="nav-item">{% endblock %}
{% block quote_navactive %}
    <li class="nav-item active dropdown">{% endblock %}

{# crm description located in home page #}
{% block crm_desc %}{% endblock %}

{# page content #}
{% block page_content %}
    <h1 class="text-info font-weight-bold">Add Quote : </h1>

    <form class="mt-4 mb-3" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ formset.management_form }}

        {# choose organization  #}
        <div class="form-group">
            <label for="organization" class="text-info">Choose Organization : </label>
            <select class="form-control" id="organization" name="organization">
                <option value="None">None</option>
                {% for organization in organizations %}
                    <option value="{{ organization.pk }}">{{ organization.organization_name }}</option>
                {% endfor %}
            </select>
        </div>

        <h2 class="h1 text-light font-weight-bold">
            ------------------------------------------------------------------</h2>

        {# quote item form #}
        {% for form in formset %}
            <div class='table table-dark table-bordered'>
                <table class='no_error'>
                    {{ form.as_table }}
                </table>
            </div>
        {% endfor %}

        <input type="button" class="btn btn-info" value="Add another Item" id="add_more">

        <button class="btn btn-success col-12 mt-4" type="submit">Finalize</button>
    </form>
{% endblock %}

{% block page_scripts %}
    <script>
        $(document).ready(function () {
            $('#add_more').click(function () {
                cloneMore('div.table:last', 'form');
            });

            function cloneMore(selector, type) {
                var newElement = $(selector).clone(true);
                var total = $('#id_' + type + '-TOTAL_FORMS').val();
                newElement.find(':input').each(function () {
                    var name = $(this).attr('name').replace('-' + (total - 1) + '-', '-' + total + '-');
                    var id = 'id_' + name;
                    $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
                });
                newElement.find('label').each(function () {
                    var newFor = $(this).attr('for').replace('-' + (total - 1) + '-', '-' + total + '-');
                    $(this).attr('for', newFor);
                });
                total++;
                $('#id_' + type + '-TOTAL_FORMS').val(total);
                $(selector).after(newElement);
            }


        });
    </script>

{% endblock %}

