{% load i18n %}
{% load mytags %}
<html lang="en">
{% load static %}
<!DOCTYPE html>

<head>
    {# page encoding #}
    <meta charset="UTF-8">

    {# bootstrap css styles and responsive page  #}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="{% static 'css/bootstrap.min.css' %} " rel="stylesheet">
    <link href="{% static 'css/styles.css' %} " rel="stylesheet">
    <title>{{ base_title }}{% block page_title %}{% trans 'Quote Pdf' %}{% endblock %}</title>

    {# tables pdf style #}
    <style>
        body{
            background-color: white;
            font-family: Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        #products {
            font-family: Arial, Helvetica, sans-serif;
            border-collapse: collapse;
        }

        #products td, #customers th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #products th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
        }
    </style>
</head>
<body>

{# this table shows the Company details #}
<table class="table table-light table-bordered tabular">
    <thead>
    <tr class="col-12">
        <th>
            <h1 class="h1 text-dark font-weight-bold text-center" style="text-align: center">{% trans 'CRM System' %}</h1>
            <div class="row">
                <h3 class="h5 text-dark  text-left col-md-8" style="text-align: left">{% trans 'Company Expert' %}
                    : {{ object.expert.get_full_name }}</h3>
                <h3 class="h5 text-dark  text-right col-md-4" style="text-align: left">{% trans 'Date' %}
                    : {{ object.created_on|jdate:"%Y-%m-%d" }}</h3>
            </div>
            <h3 class="h5 text-dark  text-left" style="text-align: left">{% trans 'Total Products Type' %}
                : {{ object.quoteitem_set.all.count }}</h3>
        </th>
    </tr>
    </thead>
</table>


{# this table shows the Customer details #}
<table class="table table-light table-bordered tabular">
    <thead>
    <tr>
        <th>
            <h2 class="h3 text-dark font-weight-bold text-left" style="text-align: left">{% trans 'Customer Details : ' %}</h2>
            <div class="row">
                <h5 class="h5 text-dark text-left col-md-4" style="text-align: left">{% trans 'Name' %}
                    : {{ object.organization.organization_name }}</h5>
                <h5 class="h5 text-dark text-right col-md-8" style="text-align: left">{% trans 'Representative Full Name' %}
                    : {{ object.organization.representative_full_name }}</h5>
            </div>
            <div class="row">
                <h5 class="h5 text-dark text-left col-md-2" style="text-align: left">{% trans 'Province : ' %}{{ object.organization.province }}</h5>
                <h5 class="h5 text-dark text-right col-md-10" style="text-align: left">{% trans 'Representative Phone Number' %}
                    : {{ object.organization.representative_phone_number }}</h5>
            </div>
            <div class="row">
                <h5 class="h5 text-dark text-left col-md-4" style="text-align: left">{% trans 'Telephone' %}
                    : {{ object.organization.telephone }}</h5>
                <h5 class="h5 text-dark text-right col-md-8" style="text-align: left">{% trans 'Representative Email' %}
                    : {{ object.organization.representative_email }}</h5>
            </div>
        </th>
    </tr>
    </thead>
</table>


{# this table shows the Purchased Products headers #}
<table class="table table-light table-bordered tabular">
    <thead>
    <tr>
        <th><h2 class="h2 text-dark font-weight-bold text-center">{% trans 'Purchased Products' %}</h2></th>
    </tr>
    </thead>
</table>


{# this table shows the Purchased Products details #}
<table class="table table-light table-bordered tabular" id="products">
    <thead>
    <tr>
        <th id="products">{% trans 'Number' %}</th>
        <th id="products">{% trans 'Name' %}</th>
        <th id="products">{% trans 'Taxability' %}</th>
        <th id="products">{% trans 'Quantity' %}</th>
        <th id="products">{% trans 'Base Price' %}</th>
        <th id="products">{% trans 'Discount(Percent)' %}</th>
        <th id="products">{% trans 'Total Cost' %}</th>
    </tr>
    </thead>
    <tbody>
    {% for quote_item in object.quoteitem_set.all %}
        <tr>
            <td id="products">{{ forloop.counter }}</td>
            <td id="products">{{ quote_item.product.product_name }}</td>
            <td id="products">
                {% if quote_item.product.have_tax %}
                    {% trans 'YES' %}
                {% else %}
                    {% trans 'NO' %}
                {% endif %}
            </td>
            <td id="products">{{ quote_item.qty }}</td>
            <td id="products">{{ quote_item.price }}</td>
            <td id="products">{{ quote_item.discount }}</td>
            <td id="products" class="bg-light text-dark">{{ quote_item.calculate_final_price }}</td>
        </tr>
    {% endfor %}
    </tbody>
    <tfoot>
    <tr>
        <th class="col-md-9" colspan="6">{% trans 'Final amount payable :' %}</th>
        <th class="col-md-3 bg-success" colspan="1">{{ object.calculate_final_amount_payable }}</th>
    </tr>
    </tfoot>
</table>


</body>


</html>