{% extends 'company/home-template.html' %}
{% load i18n %}

{# page title #}
{% block page_title %}{% trans 'Quotes List' %}{% endblock %}

{# this page nav-item activation #}
{% block home_navactive %}
    <li class="nav-item">{% endblock %}
{% block quote_navactive %}
    <li class="nav-item active dropdown">{% endblock %}

{# page content #}
{% block content_alignment %}
    <div class="container">
        <div class="col-12">
            {% block page_content %}
                <h1 class="h1 text-info">{% trans 'Quotes List : ' %}</h1>

                {# table of quotes #}
                <table class="table table-dark table-bordered">
                    <thead>

                    <tr>
                        <th>{% trans 'ID' %}</th>
                        <th>{% trans 'Customer' %}</th>
                        <th>{% trans 'Products' %}</th>
                        <th>{% trans 'PDF Export' %}</th>
                        <th>{% trans 'Operation' %}</th>
                        <th>{% trans 'Details' %}</th>
                    </tr>

                    </thead>

                    <tbody>

                    {% for object in page_obj %}
                        <tr>
                            <td>{{ object.pk }}</td>
                            <td>{{ object.organization }}</td>
                            <td>
                                {% for quote_item in object.quoteitem_set.all %}
                                    {{ forloop.counter }}-{{ quote_item.product.product_name }}<br>{% trans 'quantity' %} :
                                    {{ quote_item.qty }} <br>
                                {% endfor %}
                            </td>
                            <td><a href="{% url 'sellProcess:quote-pdf' object.pk %}">{% trans 'PDF' %}</a></td>
                            <td><a href="{% url 'emailApp:send-email' object.pk %}">{% trans 'Send Email to Representative' %}</a>
                            </td>
                            <td><a href="{% url 'sellProcess:quote-detail' object.pk %}">{% trans 'Show Details' %}</a></td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>

                {# quotes pagination #}
                <div class="row">
                    <div class="container col-md-auto">
                        <div class="col-md-12">
                            {% include 'company/pagination.html' %}
                        </div>
                    </div>
                </div>

            {% endblock %}
        </div>
    </div>
{% endblock %}
