{% extends 'company/home-template.html' %}
{# page title #}
{% block page_title %}Product Detail{% endblock %}

{# this page nav-item activation #}
{% block home_navactive %}
    <li class="nav-item">{% endblock %}
{% block company_navactive %}
    <li class="nav-item active dropdown">{% endblock %}

{# block of crm-description located in home page #}
{% block crm_desc %}{% endblock %}

{# page content #}
{% block page_content %}
    {# headers #}
    <h1 class="h1 text-info">Company Product Detail : </h1>
    <h3 class="text-dark bg-light">{{ object.product_name }}</h3>

    {# buttons #}
    <div class="row mt-4 justify-content-center">
        <div class="col-md-auto">
            <a class="btn btn-secondary" href="{% url 'company:list-company-product' %}">Return to Previous Page</a>
        </div>
        <div class="col-md-auto">
            <a class="btn btn-secondary" href="{% url 'company:company-product-edit' object.pk %}">Edit</a>
        </div>
    </div>

    {# detalis : first table #}
    <div class="row mt-4 justify-content-center">
        <table class="table table-dark table-bordered">
            <thead>
            <tr>
                <th scope="col">Price</th>
                <th scope="col">Have Tax</th>
                <th scope="col">Useful For Organization Products</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="text-dark bg-light">{{ object.price }}</td>
                <td class="text-dark bg-light">
                    {% if object.have_tax %}
                        <span>✅</span>
                    {% else %}
                        <span>❌</span>
                    {% endif %}
                </td>
                <td class="text-dark bg-light">
                    {% for item in object.usable_for_organizations_product.all %}
                        <div class="row justify-content-center">
                            {{ forloop.counter }}-{{ item }}
                        </div>
                    {% endfor %}
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    {# detalis : second table #}
    <div class="row mt-4 justify-content-center">
        <table class="table table-dark table-bordered">
            <thead>
            <tr>
                <th scope="col">Technical Description</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="text-dark bg-light">{{ object.technical_desc }}</td>
            </tr>
            </tbody>
        </table>
    </div>

    {# detalis : third table #}
    <div class="row mt-4 justify-content-center">
        <table class="table table-dark table-bordered">
            <thead>
            <tr>
                <th scope="col">Catalog Image:</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                {% if object.image_catalog %}
                    <td class="text-dark bg-light">
                        <img class="img-thumbnail" src="{{ object.image_catalog.url }}">
                    </td>
                {% else %}
                    <td class="text-dark bg-light">No Image Catalog</td>
                {% endif %}
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}