{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {# page encoding #}
    <meta charset="UTF-8">

    {# bootstrap css styles and responsive page  #}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="{% static 'css/bootstrap.min.css' %} " rel="stylesheet">
    <link href="{% static 'css/styles.css' %} " rel="stylesheet">

    {# page title handling and block #}
    <title>{{ base_title }}{% block page_title %}{% trans 'Home' %}{% endblock %}</title>
</head>


<body>
{# nav bar handling and block #}
{% block nav %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand mb-0 h1" href="{% url 'company:home' %}">{% trans 'CRM System' %}</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                {# home nav item #}
                {# home nav item activision block  #}
                {% block home_navactive %}
                    <li class="nav-item active ">
                {% endblock %}
                <a class="nav-link" href="{% url 'company:home' %}">{% trans 'Home ' %}</a>
                </li>

                {# log in nav item #}
                {% if not user.is_authenticated %}
                    {# log in nav item activision block  #}
                    {% block login_navlink %}
                        <li class="nav-item">
                    {% endblock %}
                <a class="nav-link" href="{% url 'experts:login' %}">{% trans 'Log in' %}</a>
                </li>
                {% endif %}

                {# if user authenticated can see bellow items #}
                {% if user.is_authenticated %}
                    {# organization drop down nav item #}
                    {# organization nav item activision block  #}
                    {% block organ_navactive %}
                        <li class="nav-item dropdown">
                    {% endblock %}
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {% trans 'Organizations' %}
                </a>

                {# organization drop down options #}
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'organization:add-organization' %}">{% trans 'Add Organization' %}</a>
                    <a class="dropdown-item" href="{% url 'organization:organization-list' %}">{% trans 'Organizations List' %}</a>
                    <a class="dropdown-item" href="{% url 'organization:add-organizations-product' %}">{% trans 'Add Organizations Product' %}</a>
                </div>


                {# quote drop down nav item #}
                {# quote nav item activision block  #}
                {% block quote_navactive %}
                    <li class="nav-item dropdown">
                {% endblock %}
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {% trans 'Quote' %}
                </a>

                {# quote drop down options #}
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'sellProcess:add-quote' %}">{% trans 'Add Quote' %}</a>
                    <a class="dropdown-item" href="{% url 'sellProcess:quote-list' %}">{% trans 'Quotes List' %}</a>
                </div>
                </li>


                    {# company drop down nav item #}
                    {# company nav item activision block  #}
                    {% block company_navactive %}
                        <li class="nav-item dropdown">
                    {% endblock %}
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {% trans 'Company' %}
                </a>

                {# company drop down options #}
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'company:add-company-product' %}">{% trans 'Add Product' %}</a>
                    <a class="dropdown-item" href="{% url 'company:list-company-product' %}">{% trans 'Products List' %}</a>
                </div>
                </li>

                    {# profile nav item #}
                    {# profile nav item activision #}
                    {% block profile_navactive %}
                        <li class="nav-item">
                    {% endblock %}
                <a class="nav-link"
                   href="{% url 'experts:profile' request.user.pk %}">{% trans 'Profile' %}({{ request.user.username }})</a>
                </li>

                    {# log out nav item #}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'experts:logout' %}">{% trans 'Log out' %}</a>
                    </li>
                {% endif %}

            </ul>
        </div>
    </nav>
{% endblock %}
<div class="container mt-4">

    {# pages messeages #}
    {% block page_messages %}
        <div class="mt-3 mb-3">
            <div class="col-12" id="page_message">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-primary alert-dismissible">
                            {{ message }}
                            <button type="button" data-dismiss="alert" class="close">&times;</button>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    {% endblock %}

    {# page headers #}
    <div class="row">
        {# CRM description located in the middle of page #}
        {% block crm_desc %}
            <div class="col">
                {% block page_base_detail %}
                    <h1 class="mt-lg-5 mr-3 text-left display-1 text-info font-weight-bold">{% trans 'CRM :' %}</h1>
                    <h2 class="ml-lg-5 text-left display-4 text-info font-weight-bold">{% trans 'Customer Relationship Management' %}</h2>
                {% endblock %}
            </div>
        {% endblock %}

        {# pages contents #}
        {% block content_alignment %}
            <div class="col-md-auto">
                <div class="mt-lg-5">
                    {#templates contents : #}
                    {% block page_content %}{% endblock %}
                </div>
            </div>
        {% endblock %}

    </div>
</div>

{# JQuery and bootstrap js scripts #}
<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

{# pages scripts #}
{% block page_scripts %}
    {#    templates Scripts will be here#}
{% endblock %}
</body>
</html>