{% extends 'company/home-template.html' %}
{% block page_title %}Company Products List{% endblock %}
{% block home_navactive %}
    <li class="nav-item">{% endblock %}
{% block company_navactive %}
    <li class="nav-item active dropdown">{% endblock %}
{% block page_content %}
    <h1 class="h1 text-info mb-3">Company Product`s List : </h1>
    <div class="col">
        <div class="row ">
            <table class="table table-dark table-bordered">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Product`s Name</th>
                    <th scope="col">Product`s Price</th>
                    <th scope="col">Have Tax</th>
                    <th scope="col">Catalog</th>
                </tr>
                </thead>
                <tbody>
                {% for object in object_list %}
                    <tr>
                        <th scope="row">{{ object.pk }}</th>
                        <td><a href="{% url 'company:company-product-detail' object.pk %}" class="text-info">{{ object.product_name }}</a></td>
                        <td>{{ object.price }}</td>
                        <td>
                            {% if object.have_tax %}
                                <span class="justify-content-center">✅</span>
                            {% else %}
                                <span>❌</span>
                            {% endif %}
                        </td>
                        <td><a href="#">DOWNLOAD</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="container col-md-auto">
                <div class="col-md-12">
                    {% include 'company/pagination.html' %}
                </div>
            </div>
        </div>

    </div>
{% endblock %}
