<nav aria-label="organization pages">
    <ul class="pagination">
{#    previous page code#}
        {% if page_obj.has_previous %}
            <li class="page-item ">
                <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}" class="page-link">Previous</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <span class="page-link">Previous</span>
            </li>
        {% endif %}

{#current page code#}
        {% for page in page_obj.paginator.page_range %}
            {% if page == page_obj.number %}
                <li class="page-item active">
                    <span class="page-link">{{ page_obj.number }}<span class="sr-only">(current)</span></span>
                </li>
            {% else %}
                <li class="page-item">
                    <a class="page-link" href="{{ request.path }}?page={{ page }}">{{ page }}</a>
                </li>
            {% endif %}
        {% endfor %}
{#next page code#}
        {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="{{ request.path }}?page={{ page_obj.next_page_number }}">Next</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <span class="page-link">Next</span>
            </li>
        {% endif %}
    </ul>
</nav>