{% extends 'company/home-template.html' %}
{% block page_title %}Login{% endblock %}
{% block home_navlink %}
    <li class="nav-item  ">
        <a class="nav-link" href="{% url 'company:home' %}">Home </a>
    </li>
{% endblock %}
{% block login_navlink %}
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'experts:login' %}">Log in</a>
    </li>
{% endblock %}
{% block page_content %}
    <h1 class="text-info">Login :</h1>
    <form class="mt-4" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="username" class="text-info">Username : </label>
            <input id="username" name="username" class="form-control text-primary" type="text"
                   placeholder="Please Enter Your Username">
        </div>
        <div class="form-group">
            <label for="password" class="bg-dark text-info">Password : </label>
            <input id="password" name="password" class="form-control text-primary" type="password"
                   placeholder="Please Enter Your Password">
        </div>
        <button class="btn btn-info" type="submit">Login</button>
    </form>
{% endblock %}